html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#031070,#65015d) ;
    color: white; 
    text-shadow: 1px 1px  #c500b5;
    animation: fadeIn 0.5s ease-in-out;
}
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


header{
    background: linear-gradient(#010f76, #2b0128) ;
    padding: 15px;
    text-align: center;
    margin: 0;
    border-bottom-style: dotted;
    border-color: #9504a3;
}

.headlogo{
    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-left-style: dotted;
    border-right-style: dotted;
    border-color: #ff03ea;
    box-shadow: 2px 2px 10px #ff03ea;
    border-radius: 10px;
    border-width: 3px; 
    padding: 15px;
    width:500px;
    text-align: center;
    margin: 10px auto;
}

.line{
    background-color:#c500b5;
    width: 1050px;
    height: 1px;
    margin: 20px auto;
    box-shadow: 2px 6px 10px #ff03ea;
    border-color: #ff03ea;
}

nav a{
   display: inline-block;       /* ლინკები პატარა ბლოკებად იქცეს */
    padding: 10px 20px;          /* ღილაკის შიგნით დაშორება ტექსტისა და ჩარჩოს შორის */
    margin: 10px;                 /* ღილაკებს შორის დაშორება */
    border: 2px solid #ff03ea;   /* მწვანე ჩარჩო */
    border-radius: 8px;          /* ოვალური კუთხეები */
    background-color: #0439a2;   /* მუქი ფონი */
    color: #f9f9f9;              /* ტექსტის ფერი */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #ff03ea;
    box-shadow: 1px 1px 10px #ff03ea;
    border-radius: 100px;
    border-width: 2px; 
    cursor:pointer;
    animation: slideDown 0.6s ease-out;
}

    @keyframes slideDown {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
       
        }    
    }

nav a:hover {
    background-color: #db02c9;   /* მაუსის გადატარებისას მწვანე ფონი */
    color: white;                /* მაუსის გადატარებისას თეთრი ტექსტი */
}

.headimage{
    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #ff03ea;
    box-shadow: 1px 1px 10px #ff03ea;
}

.info {
    display: flex;         /* გვერდიგვერდ დალაგება */
    align-items: center;   /* ტექსტიც და ვიდეოც შუაშია*/
    gap: 45px;             /* სივრცე ვიდეოსა და ტექსტს შორის */
    padding: 10px;
}

.text {
    border: 5px solid #ff03ea;
    background: linear-gradient(#031758,#0208c1, #031758) ;
    max-width: 500px;   /* ტექსტი ზედმეტად არ გაიჭიმოს */
    border-radius: 10px; 
    text-align: center;   /* ცენტრშია ტექსტი */
    padding: 7px;      /* მიწეპებულია არაა ჩარჩოს*/
    font-size: 20px;
    box-shadow: 1px 1px 10px #ff03ea;
    text-align:left;
    border-color: #b600bd;
    text-shadow: 1px 1px  #c500b5;
}

.text h3{
    margin: 10px 10px ;
    text-align: center;
}

.img{
    border: 5px solid #ff03ea;
    border-color: #b600bd;
    box-shadow: 1px 1px 10px #ff03ea;
}

footer {
    background: #0f1a12;
    text-align: center;
    padding: 7px;
    font-size: 12px;
    color: #9fbfae;
    text-shadow: none;
}